---
import SimpleEnquiry from './simple-enquiry'
---

<div
  class='border-foreground mx-auto max-w-md space-y-6 rounded-lg border p-4 shadow-md'
>
  <h2>
    If you're interested in working with us, please fill out the form below.
  </h2>
  <SimpleEnquiry client:idle />
</div>
