---
import MainLayout from '../layouts/main-layout.astro'
---

<MainLayout title='MagicAce | Clever solutions to unique problems'>
  <section>
    <div>
      <h1>
        At MagicAce, we create custom software solutions that actually solve
        your business challenges.
      </h1>
      <p>
        More information coming soon! In the meantime, check out our{' '}
        <a href='https://github.com/MagicAce'>GitHub</a> for some of our open-source
        projects.
      </p>
    </div>
  </section>
</MainLayout>

<style lang='scss'>
  section {
    width: 100vw;
    height: 100vh;

    display: grid;
    place-items: center;
  }
</style>
